/* map related code below */

/* #Logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: orange;
    z-index: 10;
    margin: 0;
    padding: 0;
} */

.search {
    position: absolute;
    /* top: 1 rem; */
    top: 1%;
    left: 55%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 400px;
    z-index: 10;
    
}
.refresh-btn {
    position: absolute;
    top: 95%;
    left: 95%;
    transform: translateX(-50%);
    /* width: 100%; */
    /* max-width: 400px; */
    z-index: 10;
}

.locate {
    position: absolute;
    /* top: 1rem; */
    top: 1%;
    right: 1rem;
    background: none;
    border: none;
    z-index: 10;
}

.locate img {
    width: 30px;
    cursor: pointer;
}



.info-window {
    text-align: center;
    background-color: brown;
}


/* .page {
    position: absolute;
    width: 100%;
    height: 89%;
    top: 11%;
 
} */

#map{
    position: absolute;
    top: -12.5%;
}