/* #mySideBar {
    background-color: brown;
    position: absolute;
    top: 97px;
    width: 40%;
    height: 90%;
    z-index: 9;
    overflow: scroll;
} */

.form-drop-down {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .form-drop-down:hover {
    background-color: #555;
}

.form-drop-down:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

#mySideBar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 10%;
    left: 0;
    background-color: rgb(13, 51, 122);
    overflow-x: hidden;
    transition: 0.5s;
    /* padding-top: 60px; */
}

#mySideBar .closebtn {
    text-decoration: none;
    color: #2c1414;
    /* display: block; */
    transition: 0.3s;
}

#mySideBar .closebtn:hover {
    color: #772d2d;
}

#mySideBar .closebtn {
    /* position: absolute; */
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 94.9%;
    /* margin-left: 50px; */
  
}


.openbtn {
    z-index: 10;
    position: absolute;
   
    top: 10%; 
    width: 55px;
    height: 150px;
    vertical-align: center;
    transition: 0.5s;

    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 1px 1px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

/* #main {
    position: absolute;
    top: 30px;
    right: 80px;
    transition: margin-left .5s;
    padding: 16px;
    z-index: 10;
} */

.location-search {
    /* padding: 10px; */
    position: relative;
    right: -250px;
    top: 30px;
    padding-bottom: 80px;
}

.form-div {
    position: relative;
    right: 1px;
    top: 10px;
    padding-bottom: 50px;
}

.submit-btn {
    position: relative;
    right: -130px;
    top: 10px;
    padding: 2px;
}

.place-input {
    position: relative;
    right: -250px;
    top: 10px;
}

.image-input {
    position: relative;
    right: -250px;
    top: 10px;
}

.location-input {
    position: relative;
    right: -250px;
    top: 10px;
    padding-bottom: 80px;
}

.destination-details {
    text-align: center;
    /* background-color: gray; */
    margin-top: 60px;
}

.destination-details img {
    width: 200px;
    height: 160px;
}


.carousel {
     /* text-align: center; */
    margin-left: 19px;
}


.carousel .slider p{
    position: relative;
    text-align: center;
    right: 15px;
  
}